practicedatafactory0001/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "practicedatafactory0001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/read_sheet_name_from_excel_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Excel_File_Name": {
						"type": "string"
					},
					"Sheet_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Sheet_Name",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Excel_File_Name",
							"type": "Expression"
						},
						"fileSystem": "excel-sheet-having-multiple-sheets"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Total",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/read_the_excel_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "excel-sheet-having-multiple-sheets"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Total",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incremental_refresh_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Metadata of the Incremental Referesh",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "incremental_refresh_metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Numbers of Rows",
						"description": "To get the numbers of rows",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Metadata of the Incremental Referesh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "SELECT COUNT(*) AS total_count \nFROM [@{variables('schema_name')}].[@{variables('table_name')}] \nWHERE order_date > '@{activity('Metadata of the Incremental Referesh').output.firstRow.last_refreshed}\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "If rows graterthan 0",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Numbers of Rows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Numbers of Rows').output.resultSets[0].rows[0].total_count,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Load Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{variables('schema_name')}].[@{variables('table_name')}] \nWHERE order_date > '@{activity('Metadata of the Incremental Referesh').output.firstRow.last_refreshed}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlOrderTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Sales_Orders_Storage_Account",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Max Date For Last Updated Date Data",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "SELECT MAX(order_date) as last_refreshed FROM [@{variables('schema_name')}].[@{variables('table_name')}]\nWHERE order_date > '@{activity('Metadata of the Incremental Referesh').output.firstRow.last_refreshed}'",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Update the CDC",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Max Date For Last Updated Date Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "last_refreshed",
													"value": {
														"value": "@activity('Max Date For Last Updated Date Data').output.resultSets[0].rows[0].last_refreshed",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "empty_json",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "incremental_refresh_metadata",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"schema_name": {
						"type": "String",
						"defaultValue": "sales"
					},
					"table_name": {
						"type": "String",
						"defaultValue": "Orders"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-03T12:05:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parse_Json_to_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['age']"
										},
										"sink": {
											"name": "age",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['email']"
										},
										"sink": {
											"name": "email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['isActive']"
										},
										"sink": {
											"name": "isActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['address']['street']"
										},
										"sink": {
											"name": "street",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address']['city']"
										},
										"sink": {
											"name": "city",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address']['state']"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address']['zipCode']"
										},
										"sink": {
											"name": "zipCode",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['employees']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "jason_parse_json_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csv_file_after_json_parse",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/get-latest-files-from-adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CSV_TO_JSON",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Get Metadata of csv file",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Lates_Moified_File_Name",
											"type": "DatasetReference",
											"parameters": {
												"File_Name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata of csv file",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(\n    formatDateTime(activity('Get Metadata of csv file').output.lastModified),\n    formatDateTime(variables('Modified_Time'))\n)\n",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "update the flag variable_copy1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "File_Name",
													"value": {
														"value": "@activity('Get Metadata of csv file').output.itemName",
														"type": "Expression"
													}
												}
											},
											{
												"name": "update the flag variable_copy2",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "update the flag variable_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "Modified_Time",
													"value": {
														"value": "@activity('Get Metadata of csv file').output.lastModified",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Copy_Latest_File_From_One_Folder_to_Another_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Lates_Moified_File_Name",
								"type": "DatasetReference",
								"parameters": {
									"File_Name": {
										"value": "@variables('File_Name')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Store_Latest_File",
								"type": "DatasetReference",
								"parameters": {
									"Source_File_Name": {
										"value": "@variables('File_Name')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"File_Name": {
						"type": "String"
					},
					"Modified_Time": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/loads_folder_name_total_file_count')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "getfilesnames_for_count",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Get Metadata2",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "file_details",
											"type": "DatasetReference",
											"parameters": {
												"File_Name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Store the details in the SQL Table",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Get Metadata2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[foldername_and_filecount]",
										"storedProcedureParameters": {
											"filecount": {
												"value": {
													"value": "@length(activity('Get Metadata2').output.childItems)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"foldername": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/log_mamangment')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Metadata of the Incremental Referesh",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set Start Time of the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "incremental_refresh_metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Numbers of Rows",
						"description": "To get the numbers of rows",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Metadata of the Incremental Referesh",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "SELECT COUNT(*) AS total_count \nFROM [@{variables('schema_name')}].[@{variables('table_name')}] \nWHERE order_date > '@{activity('Metadata of the Incremental Referesh').output.firstRow.last_refreshed}'\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "If rows graterthan 0",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Numbers of Rows",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Numbers of Rows').output.resultSets[0].rows[0].total_count,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Load Data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Start_Activity_Time",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{variables('schema_name')}].[@{variables('table_name')}] \nWHERE order_date > '@{activity('Metadata of the Incremental Referesh').output.firstRow.last_refreshed}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlOrderTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Sales_Orders_Storage_Account",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Max Date For Last Updated Date Data",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "SELECT MAX(order_date) as last_refreshed FROM [@{variables('schema_name')}].[@{variables('table_name')}]\nWHERE order_date > '@{activity('Metadata of the Incremental Referesh').output.firstRow.last_refreshed}'",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Update the CDC",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Max Date For Last Updated Date Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "last_refreshed",
													"value": {
														"value": "@activity('Max Date For Last Updated Date Data').output.resultSets[0].rows[0].last_refreshed",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "empty_json",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "incremental_refresh_metadata",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Start_Activity_Time",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "activity_start_time",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "On Success Log",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "End Time",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "log_record_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"start_time": {
												"value": "@formatDateTime(variables('activity_start_time'), 'yyyy-MM-dd HH:mm:ss')\n",
												"type": "Expression"
											},
											"trigger_name": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"trigger_type": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"run_id": {
												"value": "@pipeline().GroupId",
												"type": "Expression"
											},
											"endtime": {
												"value": "@formatDateTime(variables('activity_end_time'), 'yyyy-MM-dd HH:mm:ss')\n",
												"type": "Expression"
											},
											"error_message": {
												"value": "''",
												"type": "Expression"
											},
											"status": "Success",
											"run_type": "Activity Run Type"
										}
									}
								},
								{
									"name": "End Time",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "activity_end_time",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "On Fail",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "End Time_",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "log_record_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"start_time": {
												"value": "@formatDateTime(variables('activity_start_time'), 'yyyy-MM-dd HH:mm:ss')\n",
												"type": "Expression"
											},
											"trigger_name": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"trigger_type": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"run_id": {
												"value": "@pipeline().GroupId",
												"type": "Expression"
											},
											"endtime": {
												"value": "@formatDateTime(variables('activity_end_time'), 'yyyy-MM-dd HH:mm:ss')\n",
												"type": "Expression"
											},
											"error_message": {
												"value": "@activity('Load Data').output.errors[0].Message  ",
												"type": "Expression"
											},
											"status": {
												"value": "Failed",
												"type": "Expression"
											},
											"run_type": "Activity Run Type"
										}
									}
								},
								{
									"name": "End Time_",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Load Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "activity_end_time",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set Start Time of the Pipeline",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipeline_start_time",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set EndTime of the Pipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "If rows graterthan 0",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipeline_end_time",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Log Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set EndTime of the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "log_record_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"start_time": {
									"value": "@formatDateTime(variables('pipeline_start_time'), 'yyyy-MM-dd HH:mm:ss')\n",
									"type": "Expression"
								},
								"trigger_name": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"trigger_type": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"run_id": {
									"value": "@pipeline().GroupId",
									"type": "Expression"
								},
								"endtime": {
									"value": "@formatDateTime(variables('pipeline_end_time'), 'yyyy-MM-dd HH:mm:ss')\n",
									"type": "Expression"
								},
								"error_message": {
									"value": "''",
									"type": "Expression"
								},
								"status": {
									"value": "Success",
									"type": "Expression"
								},
								"run_type": {
									"value": "Pipeline Run Type",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"schema_name": {
						"type": "String",
						"defaultValue": "sales"
					},
					"table_name": {
						"type": "String",
						"defaultValue": "Orders"
					},
					"pipeline_start_time": {
						"type": "String"
					},
					"pipeline_end_time": {
						"type": "String"
					},
					"pipeline_error_message": {
						"type": "String"
					},
					"run_type": {
						"type": "String"
					},
					"activity_name": {
						"type": "String"
					},
					"activity_start_time": {
						"type": "String"
					},
					"activity_end_time": {
						"type": "String"
					},
					"activity_error_message": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-03T12:05:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sheet_dump_in_sql_child_pipeline_from_dump_excel_to_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT SheetName FROM ExcelSheets;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlOrderTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().SheetName",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Employees",
												"activities": [
													{
														"name": "Copy data1",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "ExcelSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																}
															},
															"sink": {
																"type": "AzureSqlSink",
																"writeBehavior": "insert",
																"sqlWriterUseTableLock": false,
																"disableMetricsCollection": false
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "ID",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "EmployeeID",
																			"type": "Int32",
																			"physicalType": "int"
																		}
																	},
																	{
																		"source": {
																			"name": "Name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "EmployeeName",
																			"type": "String",
																			"physicalType": "nvarchar"
																		}
																	},
																	{
																		"source": {
																			"name": "Department",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Department",
																			"type": "String",
																			"physicalType": "nvarchar"
																		}
																	},
																	{
																		"source": {
																			"name": "Salary",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Salary",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Join Date",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "JoinDate",
																			"type": "Date",
																			"physicalType": "date"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "read_sheet_name_from_excel_file",
																"type": "DatasetReference",
																"parameters": {
																	"Excel_File_Name": {
																		"value": "@pipeline().parameters.Excel_File_Name",
																		"type": "Expression"
																	},
																	"Sheet_Name": "Employees"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "Dump_Excel_Sheets_Employees",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											},
											{
												"value": "Expenses",
												"activities": [
													{
														"name": "Copy data2",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "ExcelSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																}
															},
															"sink": {
																"type": "AzureSqlSink",
																"writeBehavior": "insert",
																"sqlWriterUseTableLock": false
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "Month",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Month",
																			"type": "String",
																			"physicalType": "nvarchar"
																		}
																	},
																	{
																		"source": {
																			"name": "Rent",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Rent",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Utilities",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Utilities",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Supplies",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Supplies",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Travel",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Travel",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Total",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Total",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "read_sheet_name_from_excel_file",
																"type": "DatasetReference",
																"parameters": {
																	"Excel_File_Name": {
																		"value": "@pipeline().parameters.Excel_File_Name",
																		"type": "Expression"
																	},
																	"Sheet_Name": "Expenses"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "Expenses_Excel_Sheet_Dump",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											},
											{
												"value": "Inventory",
												"activities": [
													{
														"name": "Copy data3",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "ExcelSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																}
															},
															"sink": {
																"type": "AzureSqlSink",
																"writeBehavior": "insert",
																"sqlWriterUseTableLock": false
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "Item",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "ItemName",
																			"type": "String",
																			"physicalType": "nvarchar"
																		}
																	},
																	{
																		"source": {
																			"name": "Category",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Category",
																			"type": "String",
																			"physicalType": "nvarchar"
																		}
																	},
																	{
																		"source": {
																			"name": "Quantity",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Quantity",
																			"type": "Int32",
																			"physicalType": "int"
																		}
																	},
																	{
																		"source": {
																			"name": "Unit Cost",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "UnitCost",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Reorder Level",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "ReorderLevel",
																			"type": "Int32",
																			"physicalType": "int"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "read_sheet_name_from_excel_file",
																"type": "DatasetReference",
																"parameters": {
																	"Excel_File_Name": {
																		"value": "@pipeline().parameters.Excel_File_Name",
																		"type": "Expression"
																	},
																	"Sheet_Name": "Inventory"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "Inventrory_Dump",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											},
											{
												"value": "Sales",
												"activities": [
													{
														"name": "Copy data4",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "ExcelSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																}
															},
															"sink": {
																"type": "AzureSqlSink",
																"writeBehavior": "insert",
																"sqlWriterUseTableLock": false
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "Date",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "SalesDate",
																			"type": "Date",
																			"physicalType": "date"
																		}
																	},
																	{
																		"source": {
																			"name": "Quantity",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Quantity",
																			"type": "Int32",
																			"physicalType": "int"
																		}
																	},
																	{
																		"source": {
																			"name": "Price",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Price",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Total",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Total",
																			"type": "Decimal",
																			"physicalType": "decimal",
																			"scale": 2,
																			"precision": 10
																		}
																	},
																	{
																		"source": {
																			"name": "Product",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "Product",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "read_sheet_name_from_excel_file",
																"type": "DatasetReference",
																"parameters": {
																	"Excel_File_Name": {
																		"value": "@pipeline().parameters.Excel_File_Name",
																		"type": "Expression"
																	},
																	"Sheet_Name": "Sales"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "Sales_Dump",
																"type": "DatasetReference",
																"parameters": {}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Excel_File_Name": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/read_sheet_name_from_excel_file')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_to_JSON')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_TO_JSON",
								"type": "DatasetReference"
							},
							"name": "CSVFiles"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "StaggingJson",
								"type": "DatasetReference"
							},
							"name": "StaggingJson",
							"description": "Store the stagging JSON file"
						}
					],
					"transformations": [
						{
							"name": "CreateNewColumn",
							"description": "Creating/updating the columns 'OrderID, CustomerID, CustomerName, Email, ProductID, ProductName, Category, UnitPrice, Quantity, TotalAmount, PaymentMode, Status, ShippedDate, DeliveryDate'"
						},
						{
							"name": "NowAggregateProductDetails"
						},
						{
							"name": "AppendtheMainJsonFile"
						}
					],
					"scriptLines": [
						"source(output(",
						"          OrderID as string,",
						"          CustomerID as string,",
						"          CustomerName as string,",
						"          Email as string,",
						"          ProductID as string,",
						"          ProductName as string,",
						"          Category as string,",
						"          UnitPrice as string,",
						"          Quantity as string,",
						"          TotalAmount as string,",
						"          PaymentMode as string,",
						"          Status as string,",
						"          ShippedDate as string,",
						"          DeliveryDate as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> CSVFiles",
						"CSVFiles derive(ProductDetails = @(ProductID=ProductID,",
						"          ProductName=ProductName,",
						"          Category=Category,",
						"          UnitPrice=toFloat(UnitPrice),",
						"          Quatity=toInteger(Quantity),",
						"          TotalAmount=toFloat(TotalAmount),",
						"          PaymentMode=PaymentMode,",
						"          Status=Status,",
						"          ShippedDate=toDate(ShippedDate),",
						"          DeliveryDate=toDate(DeliveryDate))) ~> CreateNewColumn",
						"CreateNewColumn aggregate(groupBy(OrderID,",
						"          CustomerID,",
						"          CustomerName,",
						"          Email),",
						"     ProductDetails = collect(ProductDetails)) ~> NowAggregateProductDetails",
						"NowAggregateProductDetails union(byName: false)~> AppendtheMainJsonFile",
						"AppendtheMainJsonFile sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:(concat(toString(fromUTC(currentTimestamp(), 'Asia/Kolkata')), '_StagingJson')\r",
						"),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> StaggingJson"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_to_json')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "MetaDataForCSVFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "CSV_to_JSON",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CSVFiles": {},
									"StaggingJson": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "MetaDataForCSVFiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "NewUploadedJsonFile",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/CSV_to_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dump_excel_to_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Excel sheet haviing multiple files, each sheet dump into as per sql table.",
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "read_the_excel_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Individual_Excel_File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "sheet_dump_in_sql_child_pipeline_from_dump_excel_to_sql",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Excel_File_Name": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/read_the_excel_files')]",
				"[concat(variables('factoryId'), '/pipelines/sheet_dump_in_sql_child_pipeline_from_dump_excel_to_sql')]"
			]
		}
	]
}