pipeline/sheet_dump_in_sql_child_pipeline_from_dump_excel_to_sql.json
{
	"name": "sheet_dump_in_sql_child_pipeline_from_dump_excel_to_sql",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SheetName FROM ExcelSheets;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlOrderTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().SheetName",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Employees",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "EmployeeID",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Name",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "EmployeeName",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Department",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Department",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Salary",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Salary",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Join Date",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "JoinDate",
																	"type": "Date",
																	"physicalType": "date"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "read_sheet_name_from_excel_file",
														"type": "DatasetReference",
														"parameters": {
															"Excel_File_Name": {
																"value": "@pipeline().parameters.Excel_File_Name",
																"type": "Expression"
															},
															"Sheet_Name": "Employees"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Dump_Excel_Sheets_Employees",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "Expenses",
										"activities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Month",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Month",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Rent",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Rent",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Utilities",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Utilities",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Supplies",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Supplies",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Travel",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Travel",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Total",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Total",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "read_sheet_name_from_excel_file",
														"type": "DatasetReference",
														"parameters": {
															"Excel_File_Name": {
																"value": "@pipeline().parameters.Excel_File_Name",
																"type": "Expression"
															},
															"Sheet_Name": "Expenses"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Expenses_Excel_Sheet_Dump",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "Inventory",
										"activities": [
											{
												"name": "Copy data3",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Item",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "ItemName",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Category",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Category",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Quantity",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Quantity",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Unit Cost",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "UnitCost",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Reorder Level",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "ReorderLevel",
																	"type": "Int32",
																	"physicalType": "int"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "read_sheet_name_from_excel_file",
														"type": "DatasetReference",
														"parameters": {
															"Excel_File_Name": {
																"value": "@pipeline().parameters.Excel_File_Name",
																"type": "Expression"
															},
															"Sheet_Name": "Inventory"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Inventrory_Dump",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "Sales",
										"activities": [
											{
												"name": "Copy data4",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Date",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "SalesDate",
																	"type": "Date",
																	"physicalType": "date"
																}
															},
															{
																"source": {
																	"name": "Quantity",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Quantity",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Price",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Price",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Total",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Total",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 10
																}
															},
															{
																"source": {
																	"name": "Product",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Product",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "read_sheet_name_from_excel_file",
														"type": "DatasetReference",
														"parameters": {
															"Excel_File_Name": {
																"value": "@pipeline().parameters.Excel_File_Name",
																"type": "Expression"
															},
															"Sheet_Name": "Sales"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Sales_Dump",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Excel_File_Name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}